<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{title}</title>
    <meta name="Keywords" content="{keywords}">
    <meta name="Description" content="{description}">
    <meta http-equiv="mobile-agent" content="format=html5;url={栏目URL}">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="bookmark" type="image/x-icon" href="/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/templates/moban20/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/templates/moban20/css/article.css"/>
    <base target="_blank">
    <link rel="stylesheet" type="text/css" href="/templates/moban20/css/common.css">
    <link rel="stylesheet" href="/templates/moban20/css/detail.css">
</head>
<body>
<div class="N-wp">
    <div class="N-top">
        <div class="N-topc">
            <ul class="N-top-nav">
                <li><a href="/">首页</a></li>
                <li><a href="/live/">直播</a></li>
                <li><a href="/media/">北京</a></li>
                <li><a href="/news/">新闻</a></li>
                <li><a href="/finance/">财经</a></li>
                <li><a href="/sports/">体育</a></li>
                <li><a href="/ent/">娱乐</a></li>
                <li><a href="/tech/">科技</a></li>
                <li><a href="/mil/">军事</a></li>
                <li><a href="/life/">生活</a></li>
                <li><a href="/survey/">调查</a></li>
                <li><a href="/wm/">时间号</a></li>
            </ul>
            <div class="N-topr">
            </div>
        </div><!--end N-topc-->
    </div><!--end N-top-->

    <div class="N-hd">
        <div class="N-hdc">
            <div class="logo"><a href="/"><img src="/static/logo.jpg" style="margin:0;width:138px;"></a></div>
            <div class="crumb">
                <a href="/">首页</a> > <a href="http://{当前域名}">调查</a> > 正文
            </div><!--end crumb-->
        </div><!--end N-hdc-->
    </div><!--end N-hd-->
    <div class="N-bd">
        <div class="N-row">
            <div class="N-w770">
                <div class="N-content">
                    <div class="content-text">
                        <p class="content-img">
                        {随机内容}</p>
                    </div><!--end content-text-->

                    <div class="news-Edit"> [责任编辑： {随机人名}]</div>

                    <div class="content-share">
                        <a href="/" class="red" target="_self">返回首页</a>
                    </div><!--end content-share-->


                    <!-- 详情页左侧底部通栏 -->
                    <!-- 评论系统 -->
                    <div class="N-mod">
                        <div class="mod-hd">
                            <h2>评论</h2>
                        </div><!--end mod-hd-->
                        <div class="mod-bd">
                            <div id="QIHOO360COMMENT"></div>
                        </div><!--end mod-bd-->
                    </div><!--end N-mod-->
                </div>
            </div>
        </div>
        <div class="np">
            <ul>
                <li><strong>下一篇：</strong><a href="内页URL">文章标题</a>
                </li>
                <li><strong>上一篇：</strong><a href="内页URL">文章标题</a>
                </li>
            </ul>
        </div>
        <div class="b10">&nbsp;</div>
        <center>
            [ <a href="内页URL">文章标题</a> ]&nbsp;
            [ <a href="内页URL">文章标题</a> ]&nbsp;
            [ <a href="内页URL">文章标题</a> ]&nbsp;
            [ <a href="内页URL">文章标题</a> ]&nbsp;
            [ <a href="内页URL">文章标题</a> ]&nbsp;
            [ <a href="内页URL">文章标题</a> ]
        </center>
        <br/>
        <div class="b10">&nbsp;</div>
        <div class="left_head">
            <a href="/xiangguanwenzhang/">相关文章</a>
        </div>
        <div class="related">
            <table width="100%">
                <tr>
                    <td width="50%"><a href="内页URL">文章标题</a></td>
                    <td width="50%"><a href="内页URL">文章标题</a></td>
                </tr>
                <tr>
                    <td width="50%"><a href="内页URL">文章标题</a></td>
                    <td width="50%"><a href="内页URL">文章标题</a></td>
                </tr>
                <tr>
                    <td width="50%"><a href="内页URL">文章标题</a></td>
                    <td width="50%"><a href="内页URL">文章标题</a></td>
                </tr>
                <tr>
                    <td width="50%"><a href="内页URL">文章标题</a></td>
                    <td width="50%"><a href="内页URL">文章标题</a></td>
                </tr>
                <tr>
                    <td width="50%"><a href="内页URL">文章标题</a></td>
                    <td width="50%"><a href="内页URL">文章标题</a></td>
                </tr>
            </table>
        </div>

        <div class="N-mod" id="detailRelated">
            <div class="N-ft">
                <div class="N-ftc">
                    <ul>
                        <li>
                            <p><span class="ft-logo-btv"></span><span class="ft-logo-newmedia"></span><span
                                    class="ft-logo-brtn"></span></p>
                            <p><a href="{栏目URL}">关于我们</a> | {品牌词} 版权所有 </p>
                            <p>Copyright ? 2019 {品牌词} All Rights Reserved</p>
                        </li>
                    </ul>
                </div>
            </div><!--end N-ft-->
        </div>
    </div>
</div>
</body>
</html>
